<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/aboutus.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <title>Farmer's Portal</title>
</head>

<body>

    <!-- navigation bar -->
    <nav>
        <div class="titlecont">
            <img src="logo.png" alt="LOGO" class="logo">
            <div class="titledata">
                <h1 class="title">EXPRESS AGRI</h1>
                <h3 class="slogan">The Farmer's Portal</h3>
            </div>
        </div>
        <ul class="hideul">
            <li><a href="/">PRODUCTS</a></li>
            <li><a href="aboutus">ABOUT US</a></li>
            <li><a href="sell">SELL</a></li>
            <li><a href="<%= name1 %>"> <%= name %> </a></li>
        </ul>
        <div class="menuicon">
            <div class="m"></div>
            <div class="m"></div>
            <div class="m"></div>
        </div>
        <ul class="opt">
            <li><a href="/">PRODUCTS</a></li>
            <li><a href="aboutus">ABOUT US</a></li>
            <li><a href="sell">SELL</a></li>
            <li><a href="<%= name1 %>"> <%= name %> </a></li>
        </ul>
    </nav>
    <main>
        <h1>ABOUT US</h1>
        <p><img src="ab.jpg" alt=""> Hello all , we are express agri the fastest and simplest platform for farmers and sellers to meet and buy farm goods on wholesale prices.

            The main objective to create this platform is to encourage the farmers to quote prices for their produce and benefit from the trade.
            
            So, we solemnly pledge to provide good services to the farmers thereby making way for an sustainable future. The main feature of this platform is to sell the
            the farmer's Goods without any middleman. So that, the people also bought their products for very lesser price. This is not only for Farmers, the people who used
            to have the roof garden, they also able to sell their products.
            <br> <br>
            Yours Truly, <br>
            <div class="foundcont">
                    <div class="imgcont"><img src="bharath.jpg" alt="1"><h3>BHARATH VEERAKUMAR S</h3></div>
                    <div class="imgcont"><img src="bhuvanesh.png" alt="2"><h3>BHUVANESH S</h3></div>
            </div>
        </p>
    </main>
    <script src="Javascript/app.js"></script>
</body>
</html>