<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <title> Profile </title>
</head>

<body>
    <form action="" method="POST" enctype="multipart/form-data" class="login">
        <h1>LOGIN</h1>
        <label for="phone">MOBILE NUMBER</label>
        <input type="number" name="phone" id="phone" placeholder="Enter Your Number">
        <label for="password">PASSWORD</label>
        <input type="password" name="password" id="password" placeholder="Enter Your Password">
        <button type="submit">LOG IN</button>
        <h1><%= messagelogin %></h1>
    </form>
</body>